@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bebas+Neue&family=Cedarville+Cursive&family=Croissant+One&family=Dancing+Script&family=EB+Garamond:wght@600&family=Fira+Sans:wght@300;400&family=Gentium+Plus&family=Josefin+Sans:wght@700&family=Kanit:wght@200&family=Montserrat:wght@100;300&family=Mooli&family=Open+Sans:wght@300&family=Pacifico&family=Poppins:wght@500&family=Raleway:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#8bb8f3, #badce4);

}
.main{
    display: flex;
}
.image img{
    width: 250px;

}
.content-1{
    width: 50%;
    margin: 0 auto;
}
.container{
    background-color: rgb(153, 153, 153);
    color: white;
    width: 30%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.737);
    margin-top: 35px;
    border-radius: 15px;
    height: 610px;
    margin-bottom: 85px;
    margin-left: -65px;
}
.logo{
    display: inline-flex;
    justify-content: center;
}
.logo > img{
    width: 7%;
    margin-top: 8px;
}
.content{
    width: 300px;
    text-align: left;
    margin: 0 auto;
}

h2{
    font-size: 30px;
    color: black;
    font-family: 'Segoe UI';
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.logo1,.logo2,.pass{
    color: black;
    font-size: 15px;
    border: 1px solid rgb(207, 217, 222);
    padding: 10px ;
    width: 100%;
    border-radius: 50px;
    font-weight: 500;
    margin-top: 26px;
    display: flex;
    justify-content: center;
    gap: 8px;
    cursor: pointer;

}
.logo1:hover{
    border: 1px solid rgb(29, 155, 240) ;
    background-color: rgb(226, 233, 248);
    /* color: rgb(29, 155, 240); */
    

}
.logo2:hover, .pass:hover{
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(29, 155, 240) ;

}
.logo2{
    font-weight: bold;
}
.logo1 > img, .logo2 > img{
    width: 6%;
    
}
.or{
display: flex;
color: black;
font-family: 'Segoe UI';
font-size: 17px;
margin-top: 12px;
margin-bottom: 12px;
}

.line{
    height: 1px;
    background-color: rgb(207, 217, 222);
    width: 44%;
    margin-top: 12px;
}
input{
    width: 100%;
    height: 32px;
    border: 1px solid rgb(174, 186, 192);
    border-radius: 50px;
    margin-bottom: 26px;
    font-size: 15px;
    padding-left: 15px;

}
input::placeholder{
    color:rgb(29, 34, 39);
    font-size: 15px;
    font-family: 'Segoe UI';
    text-indent: 10px;
    padding-left: 15px;
}
.acc{
    color: white;
    background-color: black;
    font-size: 15px;
    font-family: 'Segoe UI';
    padding: 8px;
    width: 100%;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    /* margin-bottom: 10px; */
    cursor: pointer;
}
.acc:hover{
    background-color: rgb(39, 44, 48);
}
.pass{
    font-family: 'Segoe UI';
    font-size: 15px;
    font-weight: 700;
    padding: 8px;
    border: 1px solid rgb(63, 63, 63);
    background-color: rgb(209, 208, 208);
}
.p2{
    font-size: 15px;
    margin-top: 15px;
    text-align: center;
    font-family: 'Segoe UI';
    color: rgb(83, 100, 113);
}
a{
    text-decoration: none;
    color: rgb(29, 155, 240);
}
a:hover{
    text-decoration: underline;
}
.p1{
    font-family: 'Segoe UI';
}
.p{
    font-family: sans-serif;
    font-weight: 500;
}
/* .reg{
    gap: 15px;
    display: flex;
} */
.text{
    text-align: center;
}
.text h1{
    font-family: 'Segoe UI';
    font-size: 45px;
    padding-top: 150px;
}
.text p{
    font-family: 'Segoe UI';
    font-size: 25px;
    padding-top: 25px;
}
.image{
    margin-top: 45px;
    text-align: center;
}