@media (max-width: 576px) {
    .container{
        height: 90vh;
    }
    .main{
        display: inline;
    }
    .navbar ul{
       display: inline-block;
       margin-left: 450px;
    }

    .text h1 {
        font-size: 30px;
        margin-left: -100px;
        margin-top: -150px;
    }
    .text p{
        font-size: 25px;
        margin-left: -100px;
    }
    .text p:hover{
        font-size: 30px;
    }
    .photo{
        width: 150px;
        height: 150px;
        margin-left: 20px;
    }
    /* --------------Page No 2------------ */

    .seaction{
        display: inline-block;
    }
    .txt h1{
        font-size: 28px;
        padding-left: 200px;
        margin-top: -180px;
    }
    .txt p{
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
        width: 550px;
    }
    .contant{
        width: 350px;
        margin-top: 15px;
        margin-left: 100px;
    }
    .check-work a{
        font-size: 15px;
    }

    .coll-33 img{
        width: 220px;
        height: 125px;
        margin-left: 20px;
    }
    .text-contant h1{
        font-size: 25px;
        padding-top: 120px;
        padding-left: 30px;
    }
    .text-contant span{
        padding-left: 60px;
        font-size: 15px;
    }
    .btn input{
        width: 110px;
        height: 30px;
        margin-left: 50px;
    }
    .any{
        font-size: 14px;
        margin-left: -132px;
    }

    /* -------------------------------------Page No 4---------------------------- */

    .container-06{
        display: inline-block;
    }
    .main-div-6{
        background-color: #ffbf35;
        height: 100vh;
    }
}