@media (max-width: 1400px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .nav a {
        padding: 20px 100px;
    }

    .main-card {
        gap: 20px;
        flex-wrap: wrap;
    }

    .card {
        float: left;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .nav a {
        padding: 15px 40px;
    }

    .main-card {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        flex: 50%;
    }
}

@media (max-width: 576px) {
    .nav a {
        padding: 10px 30px;
    }

    .main-card {
        flex-direction: column;
    }

    .card {
        margin-bottom: 20px;
    }
}