@import url('https://fonts.googleapis.com/css2?family=Allura&family=Barlow+Condensed&family=Bebas+Neue&family=Cedarville+Cursive&family=Climate+Crisis&family=Croissant+One&family=Dancing+Script:wght@400;600&family=EB+Garamond:wght@600&family=Fira+Sans:wght@300;400&family=Gentium+Plus&family=Josefin+Sans:wght@700&family=Kanit:wght@200&family=Montserrat:wght@100;300;400&family=Mooli&family=Nerko+One&family=Open+Sans:wght@300&family=Pacifico&family=Playpen+Sans:wght@500;600&family=Poppins:wght@200;300;400;500&family=Raleway:wght@300&family=Righteous&family=Roboto+Condensed&family=Roboto:wght@300&family=Rubik:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

header {
    padding: 20px;
    border-bottom: 1px solid #eee;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(6px);
}

#navbar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
   
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style: none;
}

input {
    border-radius: 4px;
    border: 1px solid #c2bdbd;
    background: #FFF;
    display: flex;
    padding: 5px 5px 5px 20px;
    align-items: center;
    gap: 12px;
}

.h {
    padding: 10px;
}

.icon {
    font-size: 20px;
    padding: 2px;
    padding-left: 10vh;
}

button {
    padding: 4px 16px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
}

.login button {
    border-radius: 4px;
    background: #149BFC;
    margin-left: 50px;
}

/* ------------------------------------------------ Page No 1 CSS --------------------------------------------------  */

.image img{
    width: 1536px;
}
.contant{
    position: relative;
}
.layout{
    position: absolute;
    top: 30vh;
    left: 45vh;
    /* display: flex; */
    background-color: #7e878e;
    height: 100px;
    width: 900px;
    padding: 32px;
}

#from {
}