/* -------------------------------font style----------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------------------------------- Navbar  ------------------------------------------------- */
nav {
    background-color: #b13941;
}

.navbar {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 10px 10px;
    align-items: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: "PT Serif";
}

ul:hover {
    text-decoration: underline;
    color: #f8eed3;
    transition: 1s;

}

/* --------------------------------- background image ---------------------------------------- */
.banner {
    /* padding: 100px; */
    background-image: url(image/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 643px;
}

.text {
    text-align: center;
    padding: 50px;
}

h1 {
    padding: 10px;
    font-size: 90px;
    color: white;
    font-weight: 400;
    font-family: "Yeseva One";
    text-align: center;
}

.para {
    padding: 0px 60px;
}

.para {
    font-size: 21px;
    color: #fefefe;
    font-weight: 400;
    font-family: "PT Serif";
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 50px;
    /* margin: 10px 100px 35px; */
}

button {
    background-color: #b13941;
    padding: 10px 50px;
    font-size: 30px;
    margin: 50px 0px 30px;
    font-family: "PT Serif";
    box-shadow: 2px 2px 10px black;
    transition: 1s;
    color: white;
}

button:hover {
    transition: 1s;
    transform: scale(1.1);
}

/* --------------------------------------- Secound Page ---------------------------- */
.header1 {
    background-color: rgb(240, 63, 63);
    display: flex;
}

.container-1 {
    padding: 50px 60px;
}

.main-header1 {
    display: flex;
}

.h2 {
    font-size: 25px;
    color: #feedda;
    font-weight: 400;
    font-family: "Yeseva One";
    padding-top: 35px;
    padding-left: 50px;

}

.h1 {
    padding-left: 50px;
    font-size: 45px;
    color: #feedda;
    font-weight: 400;
    font-family: "Yeseva One";
}

.para-1 {
    padding-top: 20px;
    padding-right: 150px;
    padding-left: 50px;
    font-size: 20px;
    color: #feedda;
    font-family: "PT Serif";
}

.button-1>button {
    background-color: #feedda;
    color: rgb(240, 63, 63);
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 50px;
}

/* --------------------------------Thired Page----------------------------------  */

.container-2 {
    background-color: #f8eed3;
    display: flex;
}

.main-div2 {
    display: flex;
}

.text-1 {
    font-size: 75px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: 400;
    padding-left: 90px;
    padding-top: 100px;
    font-family: "Yeseva One";
}

.text-1>.para-2 {
    font-size: 18px;
    font-family: "Yeseva One";
    padding-right: 20%;
    line-height: 30px;
    color: #575757;
    padding-top: 50px;
}

.story {
    padding-top: 50px;
    color: #b13941;
    font-size: 20px;
}

/* ------------------------------------ Fourth Page --------------------------------------  */

.container-3 {
    padding-bottom: 100px;
    background-color: #b13941;
    background-image: url(image/background-design.png);
}

.menu {
    padding-top: 50px;
    font-size: 80px;
    letter-spacing: 1px;
    color: white;
    font-family: "Yeseva One";
    text-align: center;
}

.para-3 {
    display: flex;
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 25%;
    font-size: 21px;
    line-height: 33px;
    color: white;
    font-family: "PT Serif";
    text-align: center;
}

.seaction-1 {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 25px;
    padding-top: 70px;

}

.col-33 {
    display: flex;
    width: 33.33%;
    box-shadow: 3px 3px 12px black;
    background-color: white;
    transition: 1s;
}

.col-33:hover {
    transition: 1s;
    transform: scale(1.1);
}

.text-11 h5 {
    padding-top: 35px;
    font-size: 35px;
    font-family: "Yeseva One";
}

.text-11 p {
    font-family: "PT Serif";
    font-size: 11px;
    padding-top: 35px;
    color: #575757;
}

.text-11 button {
    font-size: 15px;
}

/* ---------------------------------------- Fifth Page ------------------------------------------------- */

.container-4 {
    padding-bottom: 100px;
    background-color: #f8eed3;
    padding-bottom: 70px;
}

.store {
    padding-top: 50px;
    font-size: 80px;
    color: #b13941;
    font-family: "Yeseva One";
    text-align: center;
}

.para-4 {
    display: flex;
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 25%;
    font-size: 21px;
    line-height: 33px;
    color: #b13941;
    font-family: "PT Serif";
    text-align: center;
}

.seaction-2 {
    display: flex;
    padding-top: 80px;
    padding-left: 100px;
    justify-content: space-between;

}

.libary {
    position: relative;
}

.border-1 {
    position: absolute;
    border: 1px solid #b13941;
    width: 190px;
    text-align: center;
    font-family: "PT Serif";
    font-size: 30px;
    margin-left: 80px;
    margin-top: -20px;
    background-color: #f8eed3;
    outline: 3px solid #b13941;
    outline-offset: 0;
}

.border-1:hover {
    outline-offset: 10px;
    transition: 1s;

}

.libary1 {
    display: block;
}

.color-t1 {
    display: block;
    background-color: white;
    margin-right: 100px;
    width: 350px;
    display: block;
}

.color-t2 {
    background-color: white;
    margin-right: 100px;
    width: 350px;
}

.color-t3 {
    background-color: white;
    margin-right: 100px;
    width: 350px;
}

.name-para {
    padding-left: 35px;
    padding-right: 28px;
    letter-spacing: 1px;
    padding-top: 70px;
    text-align: center;
    font-family: "PT Serif";
}

.name-para:hover {
    color: #b13941;
    transition: 2s;
}

.btn-1 {
    margin-left: 90px;
    font-size: 15px;
}

.box-1 {
    transition: 1s;
}

.box-1:hover {
    transition: 2s;
    transform: scale(1.1);
}

.btn-1:hover {
    color: black;
    background-color: lightseagreen;
}

/* -----------------------------------------------------Six page------------------------------------------------------------ */

.container-5 {
    background-color: #b13941;
    background-image: url(image/background-design.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.main-div-5 {
    display: flex;
}

.com-33 {
    padding-left: 50px;
    padding-top: 150px;
}

.text-div h2 {
    font-size: 60px;
    color: #f8eed3;
    padding-top: 30%;
    padding-left: 40px;
    font-family: "Yeseva One";
}

.para-div {

    font-size: 21px;
    line-height: 33px;
    color: #f8eed3;
    padding-left: 6%;
    font-weight: 400;
    padding-top: 30px;
    padding-right: 32%;
    font-family: "PT Serif";
}

.social-media {
    padding-top: 80px;
    padding-left: 50px;
    padding-left: 80px;
}

.png {
    margin-right: 40px;
}

/* -----------------------------------------------------Seven page------------------------------------------------------------ */
.container-6{
    display: flex;
}
.main-div-6 {
    display: flex;
}
.main-div-6 h5 {
    font-size: 58px;
    padding-top: 40px;
    padding-left: 50px;
    letter-spacing: 1px;
    color: #b13941;
    font-weight: 400;
    font-family: "Yeseva One";
    text-align: center;
}

